.wrapper-audio{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background: url('img-home.jpg'); 
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}
.track{

justify-content: center;
align-items: center;
width: 100%;



}